.card {
    border-radius: 15px;
    box-shadow:  0 4px 16px rgba(150, 0, 0, 0.772);
    background-color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
    
